{% extends "base.html" %}

{% block content %}
<h1>Публикация нового блюда</h1>
<form action="" method="post" enctype="multipart/form-data">
    {% if message %}
        <p class="alert alert-danger" role="alert">
                    {{ message }}
        </p>
    {% endif %}

    {{ form.hidden_tag() }}
    <p>
        {{ form.title.label }}<br>
        {{ form.title(class="form-control") }}<br>
        {% for error in form.title.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ form.cooker.label }}<br>
        {{ form.cooker(class="form-control") }}<br>
        {% for error in form.cooker.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ form.work_size.label }}<br>
        {{ form.work_size(class="form-control") }}<br>
        {% for error in form.work_size.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ form.ingredients.label }}<br>
        {{ form.ingredients(class="form-control") }}<br>
        {% for error in form.ingredients.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
        <p>
        {{ form.category.label }}<br>
        {{ form.category(class="form-control") }}<br>
        {% for error in form.category.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>

</form>
{% endblock %}